*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
.package_note-mpcplus*
extras/artist_to_albumartist
src/mpcplus
stamp-h1
dist/*
pkg/dist/arch/*
pkg/dist/centos/*
pkg/dist/fedora/*
pkg/dist/rpi/*
releases/*
tmp/*
tools/*
# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
.DS_Store
